In [3]:
# Write a program to create set and Check it type
a={1,2,3,"Aman",3}
print(a,type(a))

{1, 2, 3, 'Aman'} <class 'set'>

In [11]:
# Write a program to perform iteration on sets
b={1,2,3,"Aman",3,"Pradeep"}
print(b)
for i in b:
    print(i)

{1, 2, 3, 'Pradeep', 'Aman'}
1
2
3
Pradeep
Aman

In [22]:
# Write a program to perform function on sets

c = {"Ironman", "Hulk", "Thor", "Captain America"}

#add
c.add("Superman")
print(c)
#pop
c.pop()    #pop random value____
print(c)

#remove
c.remove("Superman")    #remove particular value
print(c)

#discard
c.discard("Hulk")    #remove particular value
print(c)

#copy
d=c.copy()
print()

{'Thor', 'Superman', 'Hulk', 'Ironman', 'Captain America'}
{'Superman', 'Hulk', 'Ironman', 'Captain America'}
{'Hulk', 'Ironman', 'Captain America'}
{'Ironman', 'Captain America'}

In [36]:
# Write a program to perform function on sets.
a = {"Ironman", "Hulk", "Thor", "Captain America", "Spiderman","Superman"}
b = {"Ironman", "Hulk", "Thor", "Captain America","Batman"}
c = {"Saktiman","Power Ranger"}

#isdisjoint
d=a.isdisjoint(c)
print(d)

#issubset
e=b.issubset(a)
print(e)

#issuperset
f=a.issuperset(b)
print(f)

#update
a.update(b)
print(a)

#clear
a.clear()
print(a)

True
False
False
{'Thor', 'Superman', 'Spiderman', 'Hulk', 'Ironman', 'Captain America', 'Batman'}
set()

In [46]:
# Write a program to perform function on sets.
a = {"Ironman", "Hulk", "Thor", "Captain America"}

b = {"Superman", "Batman", "Wonder-Woman"}

c = {"Hulk", "Thor", "Spiderman"}

#Union
d=a.union(b)
print(d)

#Difference
e=b.difference(c)
print(e)

#Difference update
b.difference_update(c)
print(b)

#Intersection
f=a.intersection(c)
print(f)

#Intersection Update
a.intersection_update(c)
print(a)

#Symmetric Difference
g=a.symmetric_difference(c)
print(g)

#Symmetric Difference Update
a.symmetric_difference_update(c)
print(a)

{'Hulk', 'Ironman', 'Captain America', 'Thor', 'Batman', 'Wonder-Woman', 'Superman'}
{'Superman', 'Wonder-Woman', 'Batman'}
{'Batman', 'Wonder-Woman', 'Superman'}
{'Hulk', 'Thor'}
{'Hulk', 'Thor'}
{'Spiderman'}
{'Spiderman'}

In [51]:
# 1. Write a program to find max and min in a set.
a={1,2,4,3,9,8,6,7,5}
for i in a:
    print(i)
print("")
    
minimum=min(a)
maximum=max(a)
print("The minimum of the fiven set is :-",minimum)
print("The maximum of the fiven set is :-",maximum)

1
2
3
4
5
6
7
8
9

The minimum of the fiven set is :- 1
The maximum of the fiven set is :- 9

In [61]:
# 2. Write a program to find common elements in three lists using sets.
a = [1,2,3,4,5]
b = [4,5,6,7,8]
c = [4,6,5,10,1]

a=set(a)
b=set(b)
c=set(c)

d=a.intersection(c,b)
print("The common element by (using Intersection method)",d)

print("The common element of given set are", set(a)&set(b)&set(c))

The common element by (using Intersection method) {4, 5}
The common element of given set are {4, 5}

In [63]:
# 3. Write a program to find difference between two sets.
a = {1,2,3,4,5}
b = {4,5,6,7,8}

c=a.difference(b)
print(d)

{4, 5}

In [69]:
# 4. Write a Python program to remove an item from a set if it is present in the set.
a = {1,2,3,4,5}
a.discard(5)
print(a)

{1, 2, 3, 4}

In [71]:
# 5. Write a Python program to check if a set is a subset of another set.
a = {"Ironman", "Hulk", "Thor", "Captain America", "Spiderman","Superman"}
b = {"Ironman", "Hulk", "Thor", "Captain America","Batman"}

c=a.issubset(b)
print(c)

False