In [5]:
# Write a program to create a tuple
a = "Aman","Mohit","Pradeep","Tushar","Mayank","Vinit","Himanshu",1,2,3,4,5,6,7
print(a)
print(type(a))

b=("Happy")
print(type(b))    #when we check the type with single element it show str

c=("Happy Singh",)
print(type(c))        #Thatswhy use use commas when we have single element in tuples

('Aman', 'Mohit', 'Pradeep', 'Tushar', 'Mayank', 'Vinit', 'Himanshu', 1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [12]:
# Write a program to perform slicing in tuples

b = "Aman","Mohit","Pradeep","Tushar","Mayank","Vinit","Himanshu",1,2,3,4,5,6,7
print(b[0])   # it means it slice the element of 0 index
print(b[0:4]) # it means it slice the tuple in between indexno 0 to 4
print(b[::-1]) # it reverse the complete tuples

Aman
('Aman', 'Mohit', 'Pradeep', 'Tushar')
(7, 6, 5, 4, 3, 2, 1, 'Himanshu', 'Vinit', 'Mayank', 'Tushar', 'Pradeep', 'Mohit', 'Aman')

In [25]:
# Write a program to perform iteration in tuples
c = ("Aman","Mohit","Pradeep","Tushar","Mayank","Vinit","Himanshu",10,20,30,40,50,60,70,80,90,100)
# With for loop
for i in c:
    print(i)
    
# Along with range and length in for loop
for i in range (len(c)):
    print(c[i])
    
# Along with While loop
i=0
while(i<len(c)):
    print(c[i])
    i+=1
    
#using sorthand loop
[print(i) for i in c]

Aman
Mohit
Pradeep
Tushar
Mayank
Vinit
Himanshu
10
20
30
40
50
60
70
80
90
100
Aman
Mohit
Pradeep
Tushar
Mayank
Vinit
Himanshu
10
20
30
40
50
60
70
80
90
100
Aman
Mohit
Pradeep
Tushar
Mayank
Vinit
Himanshu
10
20
30
40
50
60
70
80
90
100
Aman
Mohit
Pradeep
Tushar
Mayank
Vinit
Himanshu
10
20
30
40
50
60
70
80
90
100

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [33]:
# Write a program to conversion of tuples.
d = ("Aman","Mohit","Pradeep","Tushar","Mayank","Vinit","Himanshu")
print("Before conversion",type(d))
d=list(d)
print("After conversion",type(d))    # After converting it into list we can use every list function and method
                                  # for example#
d.append("Dhoni")
d.insert(1,"Tanya")
d=tuple(d)

print(d)
print(type(d))

Before conversion <class 'tuple'>
After conversion <class 'list'>
('Aman', 'Tanya', 'Mohit', 'Pradeep', 'Tushar', 'Mayank', 'Vinit', 'Himanshu', 'Dhoni')
<class 'tuple'>

In [6]:
# Write a program to describe the function of tuples
e = ("Aman","Mohit","Pradeep","Tushar","Mayank","Vinit","Himanshu","Aman")
print(e.count("Aman"))
print(e.index("Mohit"))

2
1